/*信息门户板块--crisa on 5.2*/
/*搜索*/
.search-box .nav_1_form_w {
  width: 785px;
  height: 50px;
}
.search-box .nav_1_box {
  display: block;
  vertical-align: middle;
  position: relative;
}
.search-box .nav_1_form input[type='text'] {
  box-sizing: border-box;
  width: 600px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #cc0033;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  vertical-align: middle;
  font-size: 14px;
}
.search-box .nav_1_form input[type='submit'] {
  margin-left: -4px;
  width: 60px;
  height: 50px;
  background: #ff0033 url(../img/search.png) center center no-repeat;
  border: 1px solid #cc0033;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}
/*名标名录查询页面*/
.mbml-query-page {
  background: #ffffff;
}
.mbml-query-page .header-wrap {
  width: 100%;
  height: 300px;
  background: url(../img/mbml-top1.png) top center no-repeat;
}
.mbml-query-page .header {
  position: static;
}
.mbml-query-page .crumb {
  /*crumb*/
  padding: .2rem 0;
  font-size: 16px;
  color: #666;
  line-height: .4rem;
}
.mbml-query-page .crumb a {
  color: #666;
}
.mbml-query-page .Mselect {
  /*下拉框*/
  width: 110px;
  height: 50px;
}
.mbml-query-page .Mchecked {
  line-height: 48px;
  font-size: 16px;
  color: #333;
  border-color: #ccc;
  border-radius: 5px;
  background: url(../img/MselectI-01.png) 90% center no-repeat;
}
.mbml-query-page .McheckedOn {
  background: url(../img/MselectIOn-01.png) 90% center no-repeat;
}
.mbml-query-page .search-box {
  /*搜索*/
}
.mbml-query-page .search-box .nav_1_form_w {
  margin: .65rem 116px .85rem;
  width: 785px;
  height: 50px;
}
.mbml-query-page .search-box .nav_1_select {
  margin-right: 10px;
}
.mbml-query-page .icon-lists {
  /*图标*/
  padding-bottom: 2rem;
}
.mbml-query-page .icon-lists .icon-list {
  float: left;
  margin-left: 154px;
}
.mbml-query-page .icon-lists .icon-list:first-child {
  margin-left: 20px;
}
.mbml-query-page .icon-lists .icon-box {
  display: block;
  padding-top: 50px;
}
.mbml-query-page .icon-lists .icon-box .icon {
  position: relative;
  display: block;
  width: 240px;
  height: 230px;
}
.mbml-query-page .icon-lists .icon-box .icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.mbml-query-page .icon-lists .icon-box .icon-1 {
  background: url(../img/icon-1.png);
}
.mbml-query-page .icon-lists .icon-box .icon-1:before {
  background: url(../img/icon-1a.png);
}
.mbml-query-page .icon-lists .icon-box .icon-2 {
  background: url(../img/icon-2.png);
}
.mbml-query-page .icon-lists .icon-box .icon-2:before {
  background: url(../img/icon-2a.png);
}
.mbml-query-page .icon-lists .icon-box .icon-3 {
  background: url(../img/icon-3.png);
}
.mbml-query-page .icon-lists .icon-box .icon-3:before {
  background: url(../img/icon-3a.png);
}
.mbml-query-page .icon-lists .icon-box .icon-name {
  display: block;
  font-size: 18px;
  line-height: 50px;
  color: #333;
  text-align: center;
}
.mbml-query-page .icon-lists .icon-box:hover .icon:before {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.mbml-query-page .icon-lists .icon-box:hover .icon-1 {
  background: url(../img/icon-1h.png);
}
.mbml-query-page .icon-lists .icon-box:hover .icon-2 {
  background: url(../img/icon-2h.png);
}
.mbml-query-page .icon-lists .icon-box:hover .icon-3 {
  background: url(../img/icon-3h.png);
}
.mbml-query-page .icon-lists .icon-box:hover .icon-name {
  color: #ff0033;
}
/*名标名录展示页面*/
.mbml-show-page {
  height: 100%;
}
.mbml-show-page .wrap_showmap {
  /*展示地图*/
  height: 100%;
  position: relative;
  overflow: hidden;
}
.mbml-show-page .pos-tip {
  font-size: 16px;
}
.mbml-show-page .pos-add {
  margin-right: 10px;
  font-weight: bold;
}
.mbml-show-page .search-box {
  /*搜索*/
  position: absolute;
  top: 145px;
  left: 115px;
}
.mbml-show-page .search-box .nav_1_form_w {
  width: 410px;
  box-shadow: 0 0 10px #CCCCCC;
}
.mbml-show-page .search-box .nav_1_form input[type='text'] {
  width: 360px;
  border-color: #fff;
}
.mbml-show-page .search-box .nav_1_form input[type='submit'] {
  width: 50px;
  border: none;
}
.mbml-show-page .search-bar {
  /*搜索切换*/
  position: absolute;
  top: 240px;
  left: 116px;
  width: 112px;
  height: 275px;
  z-index: 4;
}
.mbml-show-page .search-bar a {
  display: block;
  margin-bottom: 18px;
  width: 100%;
  height: 36px;
  font-size: 16px;
  color: #333;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #FFFFFF;
  box-shadow: 0px 0 20px #cccccc;
}
.mbml-show-page .search-bar a:hover,
.mbml-show-page .search-bar a.a_on {
  color: #fff;
  background-image: -webkit-linear-gradient(90deg, #ee0033 0%, #ff0033 100%);
  background-image: -ms-linear-gradient(90deg, #ee0033 0%, #ff0033 100%);
  border: 1px solid #cc0033;
}
.icon-lists-result {
  /*查询结果*/
  width: 1080px;
}
.icon-lists-result .result-h4 {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #333333;
  padding: 0 20px;
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 2px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.icon-lists-result .result-h4 span {
  font-size: 16px;
  color: #999999;
}
.icon-lists-result .result-h4 span i {
  margin: 0 0.5em;
  color: #ff0033;
}
.icon-lists-result .result-xq {
  padding: 0 40px;
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 2px;
  background-color: #ffffff;
  margin-bottom: 50px;
}
.icon-lists-result .result-xq-li {
  padding: 40px 0;
  border-bottom: 1px solid #f0f0f0;
}
.icon-lists-result .result-xq-li-img {
  width: 150px;
  height: 150px;
  border-width: 1px;
  border-color: #e1e1e1;
  border-style: solid;
}
.icon-lists-result .result-xq-li-d {
  width: 846px;
}
.icon-lists-result .result-xq-li-d .p-1 {
  padding-left: 56px;
  line-height: 34px;
  font-size: 22px;
  color: #ff0033;
}
.icon-lists-result .result-xq-li-d .ul-1,
.icon-lists-result .result-xq-li-d .ul-2 {
  width: 423px;
}
.icon-lists-result .result-xq-li-d .ul-1 li,
.icon-lists-result .result-xq-li-d .ul-2 li {
  font-size: 0;
}
.icon-lists-result .result-xq-li-d .ul-1 li i,
.icon-lists-result .result-xq-li-d .ul-2 li i {
  display: inline-block;
  width: 110px;
  line-height: 28px;
  font-size: 16px;
  color: #999999;
  text-align: right;
}
.icon-lists-result .result-xq-li-d .ul-1 li span,
.icon-lists-result .result-xq-li-d .ul-2 li span {
  display: inline-block;
  padding-left: 4px;
  line-height: 28px;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}
.icon-lists-result .result-xq-li-d .ul-2 li i {
  width: 160px;
}
.page-1 {
  height: 36px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.icon-lists-xq-d .h4-1 {
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding: 0 20px;
}
.icon-lists-xq-d .result-xq {
  padding: 0 40px;
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
  border-radius: 2px;
  background-color: #ffffff;
  margin-bottom: 50px;
}
.icon-lists-xq-d .result-xq-li {
  padding: 40px 0;
  border-bottom: 1px solid #f0f0f0;
}
.icon-lists-xq-d .result-xq-li-img {
  width: 150px;
  height: 150px;
  border-width: 1px;
  border-color: #e1e1e1;
  border-style: solid;
}
.icon-lists-xq-d .result-xq-li-d {
  width: 846px;
}
.icon-lists-xq-d .result-xq-li-d .ul-1,
.icon-lists-xq-d .result-xq-li-d .ul-2 {
  width: 423px;
}
.icon-lists-xq-d .result-xq-li-d .ul-1 li,
.icon-lists-xq-d .result-xq-li-d .ul-2 li {
  font-size: 0;
}
.icon-lists-xq-d .result-xq-li-d .ul-1 li i,
.icon-lists-xq-d .result-xq-li-d .ul-2 li i {
  display: inline-block;
  width: 110px;
  line-height: 28px;
  font-size: 16px;
  color: #999999;
  text-align: right;
}
.icon-lists-xq-d .result-xq-li-d .ul-1 li span,
.icon-lists-xq-d .result-xq-li-d .ul-2 li span {
  display: inline-block;
  padding-left: 4px;
  line-height: 28px;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}
.icon-lists-xq-d .result-xq-li-d .ul-1 li i {
  width: 160px;
  vertical-align: top;
}
.icon-lists-xq-d .result-xq-li-d .ul-1 li span {
  width: 260px;
  vertical-align: top;
}
.icon-lists-xq-d .result-xq-li-d .ul-2 li i {
  width: 160px;
  vertical-align: top;
}
.icon-lists-xq-d .result-xq-li-d .ul-2 li span {
  width: 260px;
  vertical-align: top;
}
.notice-details-xq {
  position: relative;
  margin-bottom: 50px;
  /*通知公告详情*/
}
.notice-details-xq h3 {
  font-size: 22px;
  color: #333333;
  text-align: center;
  line-height: 56px;
}
.notice-details-xq h4 {
  font-size: 16px;
  color: #333333;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}
.notice-details-xq p {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  padding: 14px 0;
}
.notice-details-xq .accessory {
  padding-top: 36px;
}
.notice-details-xq .accessory a {
  color: #ff0033;
  border-bottom: 1px solid #ff0033;
}
.notice-details-xq .author {
  font-size: 16px;
  color: #333333;
  position: absolute;
  right: 0;
  bottom: 22px;
}

.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
/* 企业登录查询 */
.search-title{
  font: 24px/32px 'Microsoft YaHei';
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}
.mbml-query-page .search-single-box .nav_1_form_w{
  /* width: 800px; */
  height: auto;
  width: 100%;
  margin: 58px auto 50px;
}
.search-single-box .nav_1_box{
  height: 50px;
  width: 800px;
  margin: 0 auto;
}
.search-single-box .nav_1_form input[type='text']{
  width: 740px;
}

/* 搜索图标 */
.pb2rm{padding-bottom: 2rem;}
.icon-data{background-image: url(../img/icon-data.png);}
.icon-export{background-image: url(../img/icon-export.png);}
.search-date-input{background: url(../img/icon-date.png) right center no-repeat;}
.col-2{width: 50%;}
.search-type{
  text-align: center;
  margin: 0 232px;
  padding-top: 50px;
}
.search-type li{
  float: left;
}
.search-type li .icon{
  width: 140px;
  height: 148px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.search-type li .icon:after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/search-type.png);
}
.search-type li .name{
  display: block;
    font-size: 18px;
    line-height: 50px;
    color: #333;
    text-align: center;
}
.search-type li:hover .name{
  color: #ff0033;
}
/* 搜索-条件查询 */
.search-where{
  height: 36px;
  height: 36px;
  margin-top: 40px;
  font-size: 16px;
}
.search-where-items{
  display: inline-block;
  margin-left: 22px;
  float: left;
}
.search-where-items:first-child{
  margin-left: 0;
}
.search-where-items .search-label{
  width: 76px;
  font-size: 16px;
  line-height: 36px;
  color: #333;
  text-align: right;
  display: inline-block;
}
.search-where-items .search-select{
  display: inline-block;
}
.search-where-items .search-select .Mselect{
  width: 148px!important;
  height: 36px;
}
.search-where-items .search-select-city .Mselect{
  width: 108px!important;
}
.search-where-items .search-select .Mchecked{
  line-height: 34px;
  border-color: #ddd;
}
.search-box .search-where-items .search-input[type='text']{
  font-size: 16px;
  line-height: 34px;
  border-color: #ddd;
  border-radius: 5px;
  height: 34px;
  width: 130px;
}
.search-box .search-where-items .search-date-input[type='text']{
  padding-right: 26px;
}
/* 查询结果 */
.search-result-header{
  border: 1px solid #eee;
  border-radius: 5px;
  height: 48px;
  padding: 6px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  font: 16px/34px 'Microsoft YaHei';
  margin-bottom: 10px;
}
.search-result .w-company{
  width: 505px;
}
.search-result .w-common{
  -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    text-align: center;
}
.search-result .w-status{
  width: 140px;
  text-align: center;
}
.search-result-header .items{
  border-left: 1px solid #eee;
}
.search-result-header .items:first-child{
  border-left: 0;
}

.search-result-list{
  font-size: 16px;
  line-height: 60px;
}
.search-result-list li{
  display: -webkit-box;
  display: -ms-box;
  display: box;
  padding: 10px 0;
  -webkit-transition: background 0.2s linear 0s;
  transition : background 0.2s linear 0s
}
.search-result-list li:hover{
  background: #f6f6f6;
}
.search-result-list .w-company{
  padding-left: 30px;
  font-size: 18px;
}
.search-result-list .w-company .pic{
  border: 1px solid #eee;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
}
.search-result-list .w-company .text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 384px;
  vertical-align: middle;
}
.search-result-list .w-company a:hover{
  color: #f03;
}
.search-result-list .t-red{font-weight: normal;color: #ff0033;}
/* 2017-05-17 12:00 add by jackLei(leiyong@infobigdata.com) */